body {
	padding-top:50px
}
body>.navbar {
	-webkit-transition:background-color .3s ease-in;
	transition:background-color .3s ease-in
}
@media (min-width:768px) {
	body>.navbar-transparent {
		background-color:transparent
	}
	body>.navbar-transparent .navbar-nav>.open>a {
		background-color:transparent!important
	}
}
.page-header h1 {
	font-size:4em
}
footer {
	margin:5em 0
}
footer li {
	float:left;
	margin-right:1.5em;
	margin-bottom:1.5em
}
footer p {
	clear:left;
	margin-bottom:0
}
.story {
  white-space: pre-line;
  text-align: justify;
  text-transform: uppercase;
}
